version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: user_postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: users
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      # - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d users"]
      interval: 2s
      timeout: 2s
      retries: 10

  redis:
    image: redis:7
    container_name: user_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
